#  string

In [1]:
# single quotes string 
str1='dibyendu'
# double quotes string 
str2="dibyendu"
# triple quotes
str3='''helo world
how are you 
i am dibyendu sasmal
what is yours name'''
print(str1)
print(str2)
print(str3)

dibyendu
dibyendu
helo world
how are you
i am dibyendu sasmal
what is yours name

## using escape chareters

In [2]:
str4="hello world \n how are you?"
print(str4)

hello world
 how are you?

## index

In [3]:
d='dibyendu'
print(d[0])
print(d[1])
print(d[2])
print(d[3])
print(d[4])
print(d[5])
print(d[6])
print(d[7])

d
i
b
y
e
n
d
u

### using loop

In [4]:
d="dibyendu"
for i in d:
    print(i)

d
i
b
y
e
n
d
u

In [5]:
d='dibyendu'
a=len(d)
for i in range(a):
    print("d","[",i,"]","=",d[i])

d [ 0 ] = d
d [ 1 ] = i
d [ 2 ] = b
d [ 3 ] = y
d [ 4 ] = e
d [ 5 ] = n
d [ 6 ] = d
d [ 7 ] = u

In [6]:
d="dibyendu"
a=len(d)
i=0
while i<a:
    print("d","[",i,"]","=",d[i])
    i=i+1

d [ 0 ] = d
d [ 1 ] = i
d [ 2 ] = b
d [ 3 ] = y
d [ 4 ] = e
d [ 5 ] = n
d [ 6 ] = d
d [ 7 ] = u

## Repetition operator in python

In [10]:
str0="dibyendu"
n= str0*5
print(n)

dibyendudibyendudibyendudibyendudibyendu

In [11]:
# using slicin trick
str1="dibyendu"
n=str1[0,4]
print(n)

TypeError: string indices must be integers

## concatenation operator

In [12]:
print("dibyendu " + "sasmal")

dibyendu sasmal

In [13]:
st="dibyendu "
st1="sasmal"
d=st+st1
print(d)

dibyendu sasmal

## FORMATING METHOD

In [14]:
a=20
print(f"this is a value:{a}")
print(f"my age is:{a}")

this is a value:20
my age is:20

In [15]:
c=20.65
print(f"This is float point number:{c}")

This is float point number:20.65

In [17]:
f_name="dibyendu "
l_name="sasmal"
print(f"this is my name {f_name}{l_name}")

this is my name dibyendu sasmal

# Funtion

In [18]:
def add():
    a=4
    b=5
    c=a+b
    return(c)
add()

9

In [19]:
def add(y):
    x=10
    c=y+x
    return(c)

suu_of=add(20)
print(suu_of)

30

In [20]:
def add(y):
    x=10
    return(y+x)

suu_of=add(20)
print(suu_of)

30

In [21]:
def add_sub():
    y=10
    x=20
    c=y+x
    d=y-x
    return(c,d)
summ,subb=add_sub()
print(summ)
print(subb)

30
-10

### Nested Function in Python

In [22]:
def disp():
    def show():
        print("show funtion")
    print("disp funtion")
    show()
disp()

disp funtion
show funtion

In [23]:
def disp():
    def show():
        return "show funtion"
    result = show()+" disp funtion"
    return(result)

a=disp()
print(a)

show funtion disp funtion

In [24]:
def disp(st):
    def show():
        return "show funtion "
    result = show() + st +" disp funtion"
    return(result)


print(disp("dibyendu sasmal"))

show funtion dibyendu sasmal disp funtion

### Passing a Function as Parameter in Python

In [25]:
def disp(pas):
    print("disp funtion " + pas())
    
def shs():
    return"dibyendu sasmal"
    
disp(shs)

disp funtion dibyendu sasmal

### Function returning another Function in Python

In [26]:
def disp():
    def show():
        print("show funtion")
    print("disp funtion")
    return show
r_sh=disp()
print(r_sh())

disp funtion
show funtion
None

# TYPE OF ACTUAL ARGUMENTS

### Positional  Arguments

In [27]:
#THIS ARGUMENT ARE PASSED TO THE FUNTION IN CORRECT POSITIONAL ORDER.
def pw(x,y):
    n=x**y
    print(n)
pw(5,2)

25

## Keyword Argument

In [4]:
def sm(name,age):
    print(f"your name {name} your age is {age}")
sm(name="dibyendu sasmal",age=24)

your name dibyendu sasmal your age is 24

## Default Argument

In [5]:
def name_age(name,age=23):
    print(f"your name is {name} your age is {age}")
name_age(name="Dibyendu sasmal")

your name is Dibyendu sasmal your age is 23

## Variable length Argument

In [6]:
def add(*num):
    x=num[0]+num[1]+num[2]
    print(x)
add(1,2,3)

6

In [7]:
def add(v,*num):
    x=v+num[0]+num[1]+num[2]
    print(x)
add(50,1,2,3)

56

In [8]:
def add(*num):
    x=50+num[0]+num[1]+num[2]
    print(x)
add(1,2,3)

56

## Keyword Variable Lenth Argument

In [9]:
def add(**num):
    z=num['a']+num['b']+num['c']
    print(z)
add(a=5,b=6,c=4)

15

## Anonymous Function or Lambda
A function with out a name is called anonymous function.

In [10]:
x=10
y=20
z=lambda x,y:print(x+y)
print(z)

<function <lambda> at 0x000002E8662D6AF0>

## Pass or Call by Object Reference in Python

In [11]:
def val(x):
    x=15
    print(x,id(x))

val(10)
print(x,id(x))

15 3197083609840
10 3197083609680

## Function Decorator in Python

In [19]:
def decor(fun):
    def inner():
        print("it: befor enhancing funtion")
        fun()
        print("it: after enhancing function")
    return inner()
def num():
    print("we will use this function")
    print("and will enhance this in decorator")
decor(num)

it: befor enhancing funtion
we will use this function
and will enhance this in decorator
it: after enhancing function

In [16]:
def decor(num):
    def inner():
        print("it: befor enhancing funtion")
        num()
        print("it: after enhancing function")
    return inner
@decor
def num():
    print("we will use this function")
    print("and will enhance this in decorator")
a=num()

it: befor enhancing funtion
we will use this function
and will enhance this in decorator
it: after enhancing function

In [15]:
def decor(fun):
    def inner():
        a=fun()
        add=a+10
        return add
    return inner
def num():
    return 10
result_fun=decor(num)
print(result_fun())

20

In [1]:
def decor1(num):
    def inner():
        b=num()
        adding=b+40
        return adding
    return inner
def decor2(num):
    def inner():
        a=num()
        add=a+5
        return add
    return inner
def num():
    return 10
num=decor2(decor1(num))
print(num())

55

## passing array to function in python

In [5]:
import array 
a=array.array('i',[101,102,103,104])
def show(name_ofarray):
    print(name_ofarray)
    print(type(name_ofarray))
    for i in name_ofarray:
        print(i)
show(a)

array('i', [101, 102, 103, 104])
<class 'array.array'>
101
102
103
104

## returning array from funtion in python

In [7]:
import array 
def show():
    a= array.array('i',[101,102,103,104])
    return a
b=show()
print("returning array b",b)
for i in b:
    print(i)

returning array b array('i', [101, 102, 103, 104])
101
102
103
104

## passing and returning numpy array

In [8]:
import numpy
def show(num):
    print(num)
    print(type(num))
    for i in num:
        print(i)
a=numpy.array([100,101,102,103])
show(a)

[100 101 102 103]
<class 'numpy.ndarray'>
100
101
102
103

In [10]:
import numpy 
def show():
    a= numpy.array([101,102,103,104])
    return a
b=show()
print("returning numpy array b",b)
for i in b:
    print(i)

returning numpy array b [101 102 103 104]
101
102
103
104

## list in python

In [5]:
a=[10,40,20.30,"dibyendu",-50]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
# change the list value 
a[0]=70
print(a)

10
40
20.3
dibyendu
-50
[70, 40, 20.3, 'dibyendu', -50]

## Accessing List using For Loop

In [6]:
# with out index
a=[10,40,20.30,"dibyendu",-50]
for b in a:
    print(b)

10
40
20.3
dibyendu
-50

In [9]:
# with index
a=[10,40,20.30,"dibyendu",-50]
b=len(a)
for i in range(b):
    print("a","[",i,"]",a[i])

a [ 0 ] 10
a [ 1 ] 40
a [ 2 ] 20.3
a [ 3 ] dibyendu
a [ 4 ] -50

## Accessing List using while Loop

In [10]:
a=[10,40,20.30,"dibyendu",-50]
n=len(a)
i=0
while i<n:
    print(a[i])
    i+=1

10
40
20.3
dibyendu
-50

## appendin an eliment

In [11]:
a=[10,20,30,40,50.30]
print("befor appending: ")
for i in a:
    print(i)
#appending an element
a.append(100)
print("affer appending")
for element in a:
    print(element)

befor appending:
10
20
30
40
50.3
affer appending
10
20
30
40
50.3
100

## Getting List input from user in Python

In [16]:
a=[]
n= int(input("Enter number of Element"))
for i in range(n):
    a.append(int(input(f"enter {i} element: ")))
print("list: ",a)
for element in a:
    print("element of list ",element)

Enter number of Element3
enter 0 element: 4
enter 1 element: 5
enter 2 element: 6
list:  [4, 5, 6]
element of list  4
element of list  5
element of list  6

## Insert Method In Python

In [17]:
a=[10,20,30,40,"dibyendu","sasmal"]
print("befor insert element:")
print(a)
a.insert(4,"I Am ")
# print the list
print()
print("after insert element:")
print(a)
# accessing element from the list
print()
print("accessing element after insert")
for i in a:
    print(i)

befor insert element:
[10, 20, 30, 40, 'dibyendu', 'sasmal']

after insert element:
[10, 20, 30, 40, 'I Am ', 'dibyendu', 'sasmal']

accessing element after insert
10
20
30
40
I Am
dibyendu
sasmal

## pop Method in Python
this funtion delet last element in defoult mood or passing index it delet this index

In [20]:
a=[1,2,3,4]
a.pop()
print(a)

[1, 2, 3]

In [21]:
a=[1,2,3,4]
a.pop(1)
print(a)

[1, 3, 4]

## Remove () method
this method is used to remove first occurrence of given element from the existing list.

In [26]:
a=[10,20,30,40,50]
a.remove(10)
print(a)

[20, 30, 40, 50]

In [27]:
a=[10,20,30,10,40,10,50]
a.remove(10)
print(a)

[20, 30, 10, 40, 10, 50]

## index() method 
this method return position number of first occurrence of given element in the list .

In [29]:
a=[10,20,10,30,40,30,50]
num=a.index(30)
print(num)

3

## Reverse() method
this method is used to reverse the order of elements in the list

In [30]:
a=[10,20,30,40,50]
print("Befor Reverse A:",a)
a.reverse()
print("After Reverse A:",a)

Befor Reverse A: [10, 20, 30, 40, 50]
After Reverse A: [50, 40, 30, 20, 10]

## Extend() method
this method is used to append another list or iterble object at the end of the list.

In [31]:
a=[10,20,30,40,50]
v=[60,70,10,12]
print("Befor extend A:",a)
print("Before extend A:",v)
a.extend(v)
print("After Reverse A:",a)

Befor extend A: [10, 20, 30, 40, 50]
Before extend A: [60, 70, 10, 12]
After Reverse A: [10, 20, 30, 40, 50, 60, 70, 10, 12]

## Count method
this method returns number of occurrence of a specified element in the list

In [32]:
a=[10,20,30,10,40,30,50]

b=a.count(10)
print("After Count 10:",b)

After Count 10: 2

## sort() method
this method is used to sort the element of the list into asending order.

In [33]:
a=[100,20,130,10,400,30,500]
print("Befor sort A:",a)
a.sort()
print("After sort A:",a)

Befor sort A: [100, 20, 130, 10, 400, 30, 500]
After sort A: [10, 20, 30, 100, 130, 400, 500]

## clear() method
this method is used to delete all  the elements from the list

In [34]:
a=[100,20,130,10,400,30,500]
print("Befor clear A:",a)
a.clear()
print("After clear A:",a)

Befor clear A: [100, 20, 130, 10, 400, 30, 500]
After clear A: []

## slicing on list
slicing on list can be used to retrieve a piece of the contains a group of elements slicing is usefull to retrive a range of element

In [38]:
a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[0:4]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [100, 20, 130, 10]

In [39]:
 a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[3:6]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [10, 400, 30]

In [40]:
a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[3:]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [10, 400, 30, 500]

In [41]:
a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[-4:]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [10, 400, 30, 500]

In [42]:
a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[:4]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [100, 20, 130, 10]

In [45]:
a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[0:4:2]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [100, 130]

In [44]:
a=[100,20,130,10,400,30,500]
print("Befor slicing A:",a)
x=a[-5:-2]
print("After slicing A:",x)

Befor slicing A: [100, 20, 130, 10, 400, 30, 500]
After slicing A: [130, 10, 400]

## list concatenation
the opereter is used to do concatenation the list

In [15]:
a=[1,2,3,4,5,6,]
b=[11,22,33,44,55,66]
result=a+b
print(result)
for i in result:
    print(i)

[1, 2, 3, 4, 5, 6, 11, 22, 33, 44, 55, 66]
1
2
3
4
5
6
11
22
33
44
55
66

## Repitation of list
Operator is used to repeat the elements of list

In [16]:
a=[100,20,130,10]
print("Befor Repitation A:",a)
r=a*4
print("After Repitation A:",r)

Befor Repitation A: [100, 20, 130, 10]
After Repitation A: [100, 20, 130, 10, 100, 20, 130, 10, 100, 20, 130, 10, 100, 20, 130, 10]

## Aliasing list
aliaing  means giveing another name to the existing object .it doesn't mean copying

In [20]:
a=[100,20,130,10]
a=b
print(a)
print(b)
a[2]=1020
b[1]=1200 # modification in a will affect b and vice versa
print(a)

[11, 1200, 1020, 44, 55, 66]
[11, 1200, 1020, 44, 55, 66]
[11, 1200, 1020, 44, 55, 66]

## Copying list
copy() method is used to copy all the element's of a list to another list .
when we copy a list a separate copy() of all the elements is stored in another list .both the list are independent

In [24]:
a=[1,2,3,4]
b=a.copy()

print(b)

a[1]=20
b[2]=30
print(a)#modification in a will not affect b and vice versa 
print(b)

[1, 2, 3, 4]
[1, 20, 3, 4]
[1, 2, 30, 4]

## cloning list
we can clone a list into another list using slicing . when we clone a list, a separet copy of all the element is stored in another list .bot the list are independent.

In [26]:
a=[1,2,3,4]
b=a[:]

print(b)

a[1]=20
b[2]=30
print(a)#modification in a will not affect b and vice versa 
print(b)

[1, 2, 3, 4]
[1, 20, 3, 4]
[1, 2, 30, 4]

## Nested list
a list within another list is called as nested list or nesting of a list.

In [30]:
a=[1,2,3,4,[5,6]]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4][0])
print(a[4][1])

1
2
3
4
5
6

In [33]:
a=[[1,2,3],[4,5,6]]
print(a[0][0])
print(a[0][1])
print(a[0][2])
print(a[1][0])
print(a[1][1])
print(a[1][2])

1
2
3
4
5
6

## Modifying Nested loop

In [35]:
a=[[1,2,3],[4,5,6]]
a[0][2]=30
a[1][2]=60
print(a)

[[1, 2, 30], [4, 5, 60]]

## Accessing Nested List using for Loop in Python

In [5]:
a=[10,20,30,[40,50,60]]
n=len(a)
for i in range(n):
    if type(a[i])is list:
        m=len(a[i])
        if m>1:
            for j in range(m):
                print(i,j,a[i][j])
    else:
        print(i,a[i])

0 10
1 20
2 30
3 0 40
3 1 50
3 2 60

In [2]:
a=[10,20,30,40,[50,60,70],[120],560,[130,104,105,880]]
n=len(a)
for i in range(n):
    if type(a[i]) is list:
        m=len(a[i])
        if m>1:
            for j in range(m):
                print("[",i,"]","[",j,"]",a[i][j])
    else:
        print("[",i,"]",a[i])

[ 0 ] 10
[ 1 ] 20
[ 2 ] 30
[ 3 ] 40
[ 4 ] [ 0 ] 50
[ 4 ] [ 1 ] 60
[ 4 ] [ 2 ] 70
[ 6 ] 560
[ 7 ] [ 0 ] 130
[ 7 ] [ 1 ] 104
[ 7 ] [ 2 ] 105
[ 7 ] [ 3 ] 880

In [6]:
a=[[1,2,3,],[5,6,7]]
n=len(a)
for i in range(n):
    if type(a[i]) is list:
        m=len(a[i])
        if m>1:
            for j in range(m):
                print(i,j,a[i][j])
    else:
        print(i,a[i])

0 0 1
0 1 2
0 2 3
1 0 5
1 1 6
1 2 7

## Accessing Nested List using while Loop in Python

In [2]:
a=[10,20,30,[40,50,60]]
n=len(a)
i=0
while i>n:
    if type(a[i]) is list:
        if len(a[i])>1:
            m=len(a[i])
            j=0
            while j>m:
                print(i,j,a[i][j])
                j+=1
            i+=1
    else:
        print(i,a[i])
        i+=1

## passing list to funtion in python

In [2]:
def lst(list1):
    print(list1)
    print("after accessing list element one by one")
    for i in list1:
        print(i)
b=[1,2,3,4,5,20]
lst(b)

[1, 2, 3, 4, 5, 20]
after accessing list element one by one
1
2
3
4
5
20

## returning list from funtion in python

In [4]:
def lst(m):
    print(m)
    #print(type(m))
    for i in m:
        print(i)
    #return(m)
b=[1,2,3,4]
n_list=lst(b)
print(n_list)
print(type(n_list))

[1, 2, 3, 4]
1
2
3
4
None
<class 'NoneType'>

## list() funtion
this is used to creat a list . it returns a mutable list of elements

In [47]:
list()
list("122332454565566")

['1', '2', '2', '3', '3', '2', '4', '5', '4', '5', '6', '5', '5', '6', '6']

## list() funtion with range 
we can used list and range funtion to creat a list  
syntax: list(range(start,stop,step size))

In [8]:
a=list(range(0,5))
print(a)

[0, 1, 2, 3, 4]

In [9]:
a=list(range(0,10,2))
print(a)

[0, 2, 4, 6, 8]

## slicing nested list in python

In [20]:
a=[[1,2,3],
  [4,5,6],
  [7,8,9],
  [10,11,12],
  [13,14,15],
  [16,17,18]]
print("orginal list",a)
print()

print(" 0th to 2nd position")
b=a[0:3]
print(b)
print()
print("*********************************************************************")
print("slicing nested list 0 to 2 position")
m=b[0]
print(m)
print()
print(" accessing m slicing list element using for loop ")
for i in m:
    print(i)
print("***********************************************************************")

print(" 0th to last position")
c=a[0:]
print(c)
print()

print(" 0th to 3rd position")
d=a[:4]
print(d)
print()

print(" last 4th position")
e=a[-4:]
print(e)
print()

print(" 0th to 5td position step size 2")
f=a[0:6:2]
print(f)
print()

print(" last 4 list with [-4-(-2)]=2 list towards right ")
g=a[-4:-2]
print(g)
print()

orginal list [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

 0th to 2nd position
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

*********************************************************************
slicing nested list 0 to 2 position
[1, 2, 3]

 accessing m slicing list element using for loop
1
2
3
***********************************************************************
 0th to last position
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

 0th to 3rd position
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

 last 4th position
[[7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

 0th to 5td position step size 2
[[1, 2, 3], [7, 8, 9], [13, 14, 15]]

 last 4 list with [-4-(-2)]=2 list towards right
[[7, 8, 9], [10, 11, 12]]

# higher order function

## filter() function

In [46]:
a=[10,50,70,80,100,55,66,77,88,99]
def h_marks(n):
    if n>=55:
        return (True)

result=list(filter(h_marks,a))
print(result)
for i in result:
    print(i)

[70, 80, 100, 55, 66, 77, 88, 99]
70
80
100
55
66
77
88
99

In [25]:
# we can do it also using lambda() function
a=[10,50,70,80,100,55,66,77,88,99]
result=list(filter(lambda n:(n>=60),a))
print(result)

[70, 80, 100, 66, 77, 88, 99]

## map() function

In [3]:
a=[1,2,3,4]
def inc(n):
    return n+2
result=list(map(inc,a))
print(result)

[3, 4, 5, 6]

## addition using map function

In [5]:
a=[1,2,3,4]
b=[4,2,5,7]
result=list(map(lambda a,b :a+b,a,b))
print(result)

[5, 4, 8, 11]

In [15]:
from functools import reduce
a=[2,3,4,5]
n=1
reduce(lambda a, i: a + i ** 2, range(1, n + 1), 0)
for i in result:
    print(i)

5
4
8
11