# Tuples:
 * Create
 * Access
 * Edit
 * Add
 * Delete
 * Operation
 * Funtions

## Create

In [1]:
# empty tuples
T1 = ()
T1

()

In [2]:
# homogenius tuples
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [3]:
# hetarogenius tuples
t1 = ("hello world",1,2,"What")
t1

('hello world', 1, 2, 'What')

In [4]:
# nested tuples
t2 = (1,2,(3,1),(5,3))
t2

(1, 2, (3, 1), (5, 3))

In [5]:
# singel item tuples

In [6]:
t3 = (5)
type(t3)

int

In [7]:
t4 = ("hello")
type(t4)

str

In [9]:
# this is how we make this singel item tuple
t5 = (5,)
type(t5)

tuple

In [10]:
t6 = ("hello",)
type(t6)

tuple

In [11]:
t7 = tuple("hello")
t7

('h', 'e', 'l', 'l', 'o')

In [12]:
t8 = tuple([1,2,3,4,5,6])
t8

(1, 2, 3, 4, 5, 6)

## Access

In [13]:
t8[0]

1

In [14]:
t8[0:5]

(1, 2, 3, 4, 5)

## Edtin

In [15]:
# tuple is imutable object , that's why we don't have access to edit this

In [17]:
t8[0] = 100

TypeError: 'tuple' object does not support item assignment

## Add
we can not access to add another item on tuple becuse tuple is a imutable data type

In [18]:
t8.append(10)

AttributeError: 'tuple' object has no attribute 'append'

## Delete

In [19]:
del(t8)

In [20]:
t8

NameError: name 't8' is not defined

In [21]:
del t7[0]

TypeError: 'tuple' object doesn't support item deletion

## Operation

In [22]:
h = (1,2,3)
m = (4,5,6)
h+m

(1, 2, 3, 4, 5, 6)

In [23]:
h * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Funtions

In [24]:
j = (5,4,9,7,2,6,10)

In [25]:
min(j)

2

In [26]:
max(j)

10

In [28]:
sorted(j)

[2, 4, 5, 6, 7, 9, 10]

In [29]:
sorted(j, reverse=True)

[10, 9, 7, 6, 5, 4, 2]

In [31]:
j.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [32]:
# one things we need to understand tuple is a read_only data type